* {
	font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 74px;
}

.wrapper {
  flex: 1 0 auto;
}

.p-top {
  padding-top: 25px;
}

@media (min-width: 1200px){
	.container {
   width: 1024px;
 }
}

a, a:hover {
	text-decoration: none;
}

input, select, textarea, button, a, a:focus,
input:focus, select:focus, textarea:focus, button:focus {
	outline: none;
}

.d-none {
  display: none;
}

img {
  max-width: 100%;
}

button {
  background: #000;
  border: none;
  padding: 10px 20px;
  color: #fff;
}

button:hover {
  color: #fff;
}

button[type="submit"] {
  padding: 10px 20px;
}

button[type="submit"].btn-search {
  padding: 0;
}

.btn-block {
  padding-left: 0;
  padding-right: 0;
}

.btn-active {
  background: #a0a0a0;
}

.btn-back {
  background: #ccc;
}

.pagarme-checkout-btn {
  background: #000;
  color: #fff;
  border: 0;
  padding: 8px;
  width: 100%;
}


.btn-forgot-password {
  display: table;
  margin-top: 14px;
  text-align: center;
  width: 100%;
}

button.btn-login-facebook {
  margin-top: 8px;
  background: #3b5998;
}


button.btn-login-facebook i,
button.btn-login-facebook i {
  margin-right: 5px;
}

.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
  border-bottom-width: 1px;
}

td a, td a:hover, td a:focus {
  color: #000;
  text-decoration: none;
}

tbody>tr>td, tbody>tr>th, tfoot>tr>td, tfoot>tr>th, thead>tr>td, thead>tr>th {
  vertical-align: middle;
}

input.form-control, select.form-control, textarea.form-control {
  border: solid 1px #000000;
  box-shadow: none;
  border-radius: 0;
}

input.form-control:focus, select.form-control:focus, area.form-control:focus {
  border: solid 1px #000000;
  box-shadow: none;
  border-radius: 0;
}

header {
	top: 0;
	left: 0;
	right: 0;
  z-index: 999;
  position: fixed;
  width: 100%;
  padding: 10px 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background: #fff;
}

header .logo {
	height: 50px;
	margin: 2px 0;
}

header ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

header ul li {
  float: left;
}

header ul li a:hover, header ul li a:focus{
  color: #000;
}

li.menu-cart a i {
  color: #000;
  font-size: 34px;
  line-height: 0;
}

li.menu-cart a {
  padding: 18px 14px 0 0;
  position: relative;
}

li.menu-cart a span.menu-cart-count {
  position: absolute;
  top: 0;
  right: 0;
  background: #000;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  font-size: 11px;
  text-align: center;
  line-height: 20px;
  border: solid 1px #fff;
  color: #fff;
}

li.menu-profile a {
  padding: 0;
  margin: 0;
}

li.menu-profile a img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}


header input {
	padding: 8px;
	background: #fff;
	border: solid 1px;
	width: 85%;
	height: 38px;
  margin: 8px auto;
  float: left;
}

header button {
	float: left;
	border: none;
	background: #000;
	height: 38px;
	width: 15%;
  margin: 8px 0;
}

header button i {
	color: #fff;
}

header ul {
	float: right;
}

header ul li a {
	font-size: 16px;
	border: solid 1px #fff;
  color: #303030;
  display: table;
  padding: 9px;
  margin: 5px 2px;
}

header ul li a.btn-login {
	border: solid 1px #303030;
}

header ul li a.btn-register {
	border: solid 1px #000;
	background: #000;
	color: #fff;
}

@media(max-width: 767px){
  header .logo {
    height: 36px;
    margin: 2px 0;
  }

  li.menu-profile a img {
    width: 36px;
    height: 36px;
  }

  li.menu-cart a i {
    font-size: 26px;
  }

  header ul li a {
    padding: 3px 8px;
  }

  li.menu-cart a {
    padding: 6px 14px 0 0;
  }

  li.menu-cart a span.menu-cart-count {
    top: -8px;
  }
}

ul.macro-main {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.macro-main li {
  cursor: pointer;
}

.box-w-shadow {
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 5px #ccc;
  margin: 25px 0 0;
}

.box-w-shadow {
  background: #fff;
  margin: 25px 0 0;
}

.box-w-shadow p {
  margin: 0;
}

.row.answer {
  color: #6f6f6f;
  margin-top: 10px;
}

.tag-blog, .tag-blog:hover, .tag-blog:focus {
  background: #000;
  color: #fff;
  display: table;
  padding: 6px;
  float: left;
  margin-right: 6px;
}

.title-box {
  margin-bottom: 22px;
}

iframe {
  max-width: 100%;
}

.sidebar-blog ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-blog ul li {
    margin-top: 12px;
}

.sidebar-blog a, .sidebar-blog a:hover, .sidebar-blog a:focus {
  color: #000;
}

.container-carousel-courses {
	position: relative;
	margin-top: 20px;
}

.prev-carousel-courses, .next-carousel-courses {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 100%;
  opacity: 0.5;
  font-size: 18px;
  line-height: 52px;
  padding: 0;
}

.next-carousel-courses {
  z-index: 1;
  top: 165px;
  right: 8px;
}

.prev-carousel-courses {
  z-index: 1;
  top: 165px;
  left: 8px;
}

.carousel-courses {
  margin-left: -8px;
  margin-right: -8px;
}

.course-box {
  position: relative;
  box-shadow: 0 0 5px #ccc;
  outline: none;
  background: #303030;
  margin-bottom: 25px;
}

.course-box h3 {
  font-size: 18px;
  letter-spacing: -1px;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 59px;
}

.course-box p {
  overflow-y: hidden;
  overflow-x: hidden;
}

#posts .course-box h3 {
  overflow-y: unset;
  overflow-x: unset;
  height: auto;
}

#post-blog-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.macro-sub--category {
  list-style: none;
  padding: 0 0 0 10px;
  font-weight: 400;
  display: none;
}

.macro-sub--category li label {
  font-weight: normal;
}

.add-course-box {
  position: relative;
  box-shadow: 0 0 5px #ccc;
  outline: none;
  background: #303030;
  margin-bottom: 25px;
  min-height: 410px;
}

.add-course-box i {
  color: #5fd22f;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 159px auto;
  display: table;
  text-align: center;
  width: 100%;
  font-size: 65px;
}

.add-teacher-box {
  position: relative;
  box-shadow: 0 0 5px #ccc;
  outline: none;
  background: #303030;
  margin-bottom: 25px;
  min-height: 383px;
}

.add-teacher-box i {
  color: #5fd22f;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 159px auto;
  display: table;
  text-align: center;
  width: 100%;
  font-size: 65px;
}

.img-profile-teacher {
  display: table;
  width: 130px !important;
  height: 130px;
  position: absolute;
  bottom: -55px;
  object-fit: cover;
  display: table;
  margin: 0 auto;
  left: 0;
  right: 0;
  border-radius: 100%;
  border: solid 4px #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.24);
}

.img-profile-company {
  display: table;
  width: 130px !important;
  height: 130px;
  position: absolute;
  bottom: -55px;
  object-fit: cover;
  display: table;
  margin: 0 auto;
  left: 0;
  right: 0;
  border-radius: 100%;
  border: solid 4px #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.24);
}

.carousel-courses .course-box {
  margin: 0 8px;
}

.course-box h3, .course-box p {
	color: #fff;
}

.course-thumb {
	width: 100%;
	height: 210px;
}

.course-desc {
  min-height: 188px;
  padding: 5px 14px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.course-thumb img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.course-value {
  display: table;
  width: 100%;
}

.course-value span {
	background: #5fd22f;
	float: right;
	padding: 5px 12px;
	color: #fff;
	font-size: 18px;
}

.course-access {
  display: flex;
}

.course-access a {
  background: #5fd22f;
  flex: 1;
  text-align: center;
}

.course-access span {
  background: #5fd22f;
  float: right;
  padding: 8px 18px;
  color: #fff;
  font-size: 16px;
}

.video-about {
	width: 100%;
}

.box-title {
  margin-bottom: 15px;
}

#teacher-questions p {
  font-size: 16px;
}

#teacher-questions label {
  font-size: 16px;
}

#teacher-questions img {
    width: 100%;
    max-width: 330px;
    margin: 0 auto;
    display: table;
}

#teacher-questions button {
  margin-top: 20px;
}

.label-upload-vimeo {
  margin-top: 12px;
}

.row-item-question {
  margin-bottom: 8px;
}

.row-item-question label.form-control {
    border: solid 1px #000;
}

.progress {
  margin-bottom: 0;
}

.input-group-addon {
  border-color: #000;
}

.footer-news {
  background: #222;
  color: #fff;
  padding: 14px 0;
  margin-bottom: 20px;
}

.footer-news .form-control {
  margin: 3px auto;
}

.footer-news button[type="submit"] {
  padding: 7px 20px;
  margin-top: 4px;
  width: 100%;
  background: #000;
}

footer {
  flex-shrink: 0;
  width: 100%;
  background-color: #303030;
  margin-top: 25px;
  position: relative;
  z-index: 10;
  padding: 0 0 20px;
}

footer h4 {
	color: #fff;
	font-weight: bold;
}

footer ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

footer ul li {
	margin: 5px 0;
}

footer ul li a {
	color: #fff;
}

footer ul li a:hover {
	color: #fff;
}

.user-thumb {
  display: table;
  margin: 0 auto;
  border-radius: 100%;
  width: 200px;
  height: 200px;
}

.user-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}

.user-name h1 {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
}

.modal {
  z-index: 99999;
}

.footer-credit {
  color: #b3b3b3;
  padding: 22px 0 0;
}

.btn {
  border-radius: 0;
  padding: 10px 20px;
}

.btn-primary {
  color: #fff;
  background-color: #000;
  border: none;
}

.btn-primary:focus, .btn-primary:hover, .btn:focus, .btn:hover {
  color: #fff;
}

.btn-cart-delete {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #f00;
  text-align: center;
  padding: 9px;
  border-radius: 100%;
  right: 6px;
  top: 6px;
  color: #fff;
}

.btn-cart-delete:hover, .btn-cart-delete:focus {
  color: #fff;
}

.act-chapter, .act-question, .new-coupon {
  margin-bottom: 12px;
}

a.act-list {
    font-size: 16px;
    margin-right: 6px;
}

.btn-cart-delete i {
  line-height: 22px;
  font-size: 20px;
}

.cart-resume .subtotal-value {
  width: 100%;
  display: table;
  font-weight: 500;
  color: #000000;
  font-size: 18px;
  margin-bottom: 16px;
}

.cart-resume .total-value {
  width: 100%;
  display: table;
  font-weight: 700;
  color: #5fd22f;
  font-size: 28px;
  line-height: 30px;
}

.cart-resume .cupon-form input {
  float: left;
  width: 60%;
  padding: 7px;
  border: solid 1px #000;
  border-right: none;
}

.cart-resume .cupon-form button {
  float: left;
  width: 40%;
  padding: 8px;
}

.cart-resume .cupon-form {
  margin: 16px 0;
}

.cart-resume .cupon-form span {
  padding-bottom: 6px;
  display: table;
}

.cart-resume .btn-checkout {
  width: 100%;
  margin: 4px 0;
  padding: 16px;
  background: #5fd22f;
}

.course-details h2.course-category {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  line-height: 16px;
}

h1.course-name {
  margin: 8px 0;
}

.course-details hr {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0;
  border: 0;
  width: 110px;
  border-top: 2px solid #ffee6a;
  text-align: left;
}

.course-details h3.course-author {
  font-size: 20px
  font-weight: 500;
  font-size: 18px;
}

.rating-style {
  width: 15px;
}

.row-chapter {
  background: #f0f0f0;
  padding: 5px 15px;
  border: solid 1px #ccc;
}

.row-item {
  background: #ffffff;
  padding: 5px 15px 5px 30px;
  border: solid 1px #ccc;
  border-top: 0;
}

.row-item h5 {
  float: left;
}

.row-item a {
  float: right;
  padding-top: 7px;
}

.row-chapter {
  background: #f0f0f0;
  padding: 5px 15px;
  border: solid 1px #ccc;
  margin-top: 10px;
}

.class-container {
  position: relative;
  height: 100%;
}

.class-menu {
  overflow-y: scroll;
  position: fixed;
  padding-top: 74px;
  width: 340px;
  background: #000;
  color: #fff;
  top: 0;
  bottom: 0;
  left: 0;
}

.class-content {
  overflow-y: scroll;
  position: fixed;
  padding: 94px 20px 20px 20px;
  left: 340px;
  top: 0;
  right: 0;
  bottom: 0;
}

.class-chapter , .class-item {
  position: relative;
}

.class-chapter p, .class-item p {
  margin: 0;
}

.class-chapter p.active, .class-item p.active {
  color: #4bff00;
}

.class-chapter p {
  font-size: 16px;
}

.class-chapter {
  padding: 16px 10px;
  background: #3a3a3a;
  border-bottom: solid 1px #565656;
}

.class-item {
  padding: 16px 10px;
  background: transparent;
  border-bottom: solid 1px #565656;
}

.check-class {
  display: none;
}

.label-check-class {
  cursor: pointer;
  position: absolute;
  right: 12px;
  width: 25px;
  height: 25px;
  background: #fff;
  top: 15px;
  border-radius: 100%;
  border: solid 2px #ccc;
}

input.check-class:checked ~ label {
  background-image: url('../images/check.jpg');
  background-size: 100%;
}

label.interest-label {
  cursor: pointer;
  width: 100%;
  font-weight: 400;
}

label.interest-label input{
  margin-right: 5px;
  vertical-align: top;
}

.container-scroll {
  overflow: hidden;
  height: 46px;
}

.container-buttons-panel {
  display: flex;
  overflow-x: scroll;
  justify-content: center;
}

.box-button-panel {
  padding: 3px;
}

.box-button-panel a button {
  padding: 10px 10px;
  white-space: nowrap;
}
.container-carousel-courses{
  display: none;
}
.img-load{
  display: block;
}
#my-signin2 {
  display: inline-block;
  background: white;
  width: 100%;
  margin-top: 8px;
  white-space: nowrap;
}
.abcRioButton {
  box-shadow: none !important;
}
.abcRioButton.abcRioButtonBlue {
  width: 100% !important;
  height: 40px !important;
}
.abcRioButtonIcon {
  padding: 10px !important;
}
.abcRioButtonContents {
  line-height: 38px !important;
}

/* HEXS MACROTEMAS */
.macro-mobile-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 15px; }
  .macro-mobile-wrapper .macrotema-col-1,
  .macro-mobile-wrapper .macrotema-col-2,
  .macro-mobile-wrapper .macrotema-col-3 {
    width: 110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin:0 -12px; }
    .macro-mobile-wrapper .macrotema-col-1 .macro-indv,
    .macro-mobile-wrapper .macrotema-col-1 a,
    .macro-mobile-wrapper .macrotema-col-2 .macro-indv,
    .macro-mobile-wrapper .macrotema-col-2 a,
    .macro-mobile-wrapper .macrotema-col-3 .macro-indv,
    .macro-mobile-wrapper .macrotema-col-3 a {
      width: 110px;
      height: 110px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .macro-mobile-wrapper .macrotema-col-1 .macro-indv p,
      .macro-mobile-wrapper .macrotema-col-1 a p,
      .macro-mobile-wrapper .macrotema-col-2 .macro-indv p,
      .macro-mobile-wrapper .macrotema-col-2 a p,
      .macro-mobile-wrapper .macrotema-col-3 .macro-indv p,
      .macro-mobile-wrapper .macrotema-col-3 a p {
        font-size: 10px;
        color: #303030;
        text-align: center;
        padding: 10px;
        margin: 0;
        font-weight: 600; }
        .macro-mobile-wrapper .macrotema-col-1 .macro-indv img,
        .macro-mobile-wrapper .macrotema-col-1 a img,
        .macro-mobile-wrapper .macrotema-col-2 .macro-indv img,
        .macro-mobile-wrapper .macrotema-col-2 a img,
        .macro-mobile-wrapper .macrotema-col-3 .macro-indv img,
        .macro-mobile-wrapper .macrotema-col-3 a img {
          width: 35px;
          display: none; }
          .macro-mobile-wrapper .macrotema-col-1 #macro-mob1,
          .macro-mobile-wrapper .macrotema-col-2 #macro-mob1,
          .macro-mobile-wrapper .macrotema-col-3 #macro-mob1 {
            background-image: url(../images/Macrotemas/vertical/v-finan%C3%A7as.svg); }
            .macro-mobile-wrapper .macrotema-col-1 #macro-mob2,
            .macro-mobile-wrapper .macrotema-col-2 #macro-mob2,
            .macro-mobile-wrapper .macrotema-col-3 #macro-mob2 {
              background-image: url(../images/Macrotemas/vertical/v-controladoria.svg); }
              .macro-mobile-wrapper .macrotema-col-1 #macro-mob3,
              .macro-mobile-wrapper .macrotema-col-2 #macro-mob3,
              .macro-mobile-wrapper .macrotema-col-3 #macro-mob3 {
                background-image: url(../images/Macrotemas/vertical/v-ti.svg); }
                .macro-mobile-wrapper .macrotema-col-1 #macro-mob4,
                .macro-mobile-wrapper .macrotema-col-2 #macro-mob4,
                .macro-mobile-wrapper .macrotema-col-3 #macro-mob4 {
                  background-image: url(../images/Macrotemas/vertical/v-saude.svg); }
                  .macro-mobile-wrapper .macrotema-col-1 #macro-mob5,
                  .macro-mobile-wrapper .macrotema-col-2 #macro-mob5,
                  .macro-mobile-wrapper .macrotema-col-3 #macro-mob5 {
                    background-image: url(../images/Macrotemas/vertical/v-historia.svg); }
                    .macro-mobile-wrapper .macrotema-col-1 #macro-mob6,
                    .macro-mobile-wrapper .macrotema-col-2 #macro-mob6,
                    .macro-mobile-wrapper .macrotema-col-3 #macro-mob6 {
                      background-image: url(../images/Macrotemas/vertical/v-varejo.svg); }
                      .macro-mobile-wrapper .macrotema-col-1 #macro-mob7,
                      .macro-mobile-wrapper .macrotema-col-2 #macro-mob7,
                      .macro-mobile-wrapper .macrotema-col-3 #macro-mob7 {
                        background-image: url(../images/Macrotemas/vertical/v-direito.svg); }
                        .macro-mobile-wrapper .macrotema-col-1 #macro-mob8,
                        .macro-mobile-wrapper .macrotema-col-2 #macro-mob8,
                        .macro-mobile-wrapper .macrotema-col-3 #macro-mob8 {
                          background-image: url(../images/Macrotemas/vertical/v-marketing.svg); }
                          .macro-mobile-wrapper .macrotema-col-1 #macro-mob9,
                          .macro-mobile-wrapper .macrotema-col-2 #macro-mob9,
                          .macro-mobile-wrapper .macrotema-col-3 #macro-mob9 {
                            background-image: url(../images/Macrotemas/vertical/v-arquitetura.svg); }
                            .macro-mobile-wrapper .macrotema-col-1 #macro-mob10,
                            .macro-mobile-wrapper .macrotema-col-2 #macro-mob10,
                            .macro-mobile-wrapper .macrotema-col-3 #macro-mob10 {
                              background-image: url(../images/Macrotemas/vertical/v-ensino.svg); }
                              .macro-mobile-wrapper .macrotema-col-1 #macro-mob11,
                              .macro-mobile-wrapper .macrotema-col-2 #macro-mob11,
                              .macro-mobile-wrapper .macrotema-col-3 #macro-mob11 {
                                background-image: url(../images/Macrotemas/vertical/v-hobbies.svg); }
                                .macro-mobile-wrapper .macrotema-col-1 #macro-mob12,
                                .macro-mobile-wrapper .macrotema-col-2 #macro-mob12,
                                .macro-mobile-wrapper .macrotema-col-3 #macro-mob12 {
                                  background-image: url(../images/Macrotemas/vertical/v-negocio.svg); }
                                  .macro-mobile-wrapper .macrotema-col-1 #macro-mob13,
                                  .macro-mobile-wrapper .macrotema-col-2 #macro-mob13,
                                  .macro-mobile-wrapper .macrotema-col-3 #macro-mob13 {
                                    background-image: url(../images/Macrotemas/vertical/v-engenharia.svg); }
                                    .macro-mobile-wrapper .macrotema-col-1 #macro-mob14,
                                    .macro-mobile-wrapper .macrotema-col-2 #macro-mob14,
                                    .macro-mobile-wrapper .macrotema-col-3 #macro-mob14 {
                                      background-image: url(../images/Macrotemas/vertical/v-concursos.svg); }
                                      .macro-mobile-wrapper .macrotema-col-1 #macro-mob15,
                                      .macro-mobile-wrapper .macrotema-col-2 #macro-mob15,
                                      .macro-mobile-wrapper .macrotema-col-3 #macro-mob15 {
                                        background-image: url(../images/Macrotemas/vertical/v-video.svg); }
                                        .macro-mobile-wrapper .macrotema-col-1 #macro-mob16,
                                        .macro-mobile-wrapper .macrotema-col-2 #macro-mob16,
                                        .macro-mobile-wrapper .macrotema-col-3 #macro-mob16 {
                                          background-image: url(../images/Macrotemas/vertical/v-gastro.svg); }
                                          .macro-pc-wrapper {
                                            display: -webkit-box;
                                            display: -ms-flexbox;
                                            display: flex;
                                            -webkit-box-pack: center;
                                            -ms-flex-pack: center;
                                            justify-content: center;
                                            -webkit-box-align: center;
                                            -ms-flex-align: center;
                                            align-items: center;
                                            -webkit-box-orient: vertical;
                                            -webkit-box-direction: normal;
                                            -ms-flex-direction: column;
                                            flex-direction: column;
                                            padding: 15px; }
                                            .macro-pc-wrapper .macro-row-1,
                                            .macro-pc-wrapper .macro-row-2,
                                            .macro-pc-wrapper .macro-row-3 {
                                              width: 100%;
                                              display: -webkit-box;
                                              display: -ms-flexbox;
                                              display: flex;
                                              -webkit-box-pack: center;
                                              -ms-flex-pack: center;
                                              justify-content: center;
                                              -webkit-box-align: center;
                                              -ms-flex-align: center;
                                              align-items: center;
                                              -webkit-box-orient: horizontal;
                                              -webkit-box-direction: normal;
                                              -ms-flex-direction: row;
                                              flex-direction: row; }
                                              .macro-pc-wrapper .macro-row-1 .macro-indv-pc,
                                              .macro-pc-wrapper .macro-row-1 a,
                                              .macro-pc-wrapper .macro-row-2 .macro-indv-pc,
                                              .macro-pc-wrapper .macro-row-2 a,
                                              .macro-pc-wrapper .macro-row-3 .macro-indv-pc,
                                              .macro-pc-wrapper .macro-row-3 a {
                                                width: 100px;
                                                height: 112px;
                                                background-size: contain;
                                                background-repeat: no-repeat;
                                                background-position: center;
                                                display: -webkit-box;
                                                display: -ms-flexbox;
                                                display: flex;
                                                -webkit-box-pack: center;
                                                -ms-flex-pack: center;
                                                justify-content: center;
                                                -webkit-box-align: center;
                                                -ms-flex-align: center;
                                                align-items: center;
                                                margin: 0 5px;
                                                text-decoration: none; }
                                                .macro-pc-wrapper .macro-row-1 .macro-indv-pc p,
                                                .macro-pc-wrapper .macro-row-1 a p,
                                                .macro-pc-wrapper .macro-row-2 .macro-indv-pc p,
                                                .macro-pc-wrapper .macro-row-2 a p,
                                                .macro-pc-wrapper .macro-row-3 .macro-indv-pc p,
                                                .macro-pc-wrapper .macro-row-3 a p {
                                                  font-size: 12px;
                                                  color: #303030;
                                                  text-align: center;
                                                  padding: 0 10px;
                                                  margin: 0 40px;
                                                  font-weight: 600; }
                                                  .macro-pc-wrapper .macro-row-1 .macro-indv-pc img,
                                                  .macro-pc-wrapper .macro-row-1 a img,
                                                  .macro-pc-wrapper .macro-row-2 .macro-indv-pc img,
                                                  .macro-pc-wrapper .macro-row-2 a img,
                                                  .macro-pc-wrapper .macro-row-3 .macro-indv-pc img,
                                                  .macro-pc-wrapper .macro-row-3 a img {
                                                    display: none;
                                                    width: 40px; }
                                                    .macro-pc-wrapper .macro-row-2 {
                                                      margin: -10px 0; }
                                                      .macro-pc-wrapper #macro-pc1 {
                                                        background-image: url(../images/Macrotemas/horizontal//h-financas.svg); }
                                                        .macro-pc-wrapper #macro-pc2 {
                                                          background-image: url(../images/Macrotemas/horizontal/h-varejo.svg); }
                                                          .macro-pc-wrapper #macro-pc3 {
                                                            background-image: url(../images/Macrotemas/horizontal/h-negocio.svg); }
                                                            .macro-pc-wrapper #macro-pc4 {
                                                              background-image: url(../images/Macrotemas/horizontal/h-direito.svg); }
                                                              .macro-pc-wrapper #macro-pc5 {
                                                                background-image: url(../images/Macrotemas/horizontal/h-controladoria.svg); }
                                                                .macro-pc-wrapper #macro-pc6 {
                                                                  background-image: url(../images/Macrotemas/horizontal/h-ti.svg); }
                                                                  .macro-pc-wrapper #macro-pc7 {
                                                                    background-image: url(../images/Macrotemas/horizontal/h-marketing.svg); }
                                                                    .macro-pc-wrapper #macro-pc8 {
                                                                      background-image: url(../images/Macrotemas/horizontal/h-engenharia.svg); }
                                                                      .macro-pc-wrapper #macro-pc9 {
                                                                        background-image: url(../images/Macrotemas/horizontal/h-concursos.svg); }
                                                                        .macro-pc-wrapper #macro-pc10 {
                                                                          background-image: url(../images/Macrotemas/horizontal/h-arquitetura.svg); }
                                                                          .macro-pc-wrapper #macro-pc11 {
                                                                            background-image: url(../images/Macrotemas/horizontal/h-saude.svg); }
                                                                            .macro-pc-wrapper #macro-pc12 {
                                                                              background-image: url(../images/Macrotemas/horizontal/h-historia.svg); }
                                                                              .macro-pc-wrapper #macro-pc13 {
                                                                                background-image: url(../images/Macrotemas/horizontal/h-ensino.svg); }
                                                                                .macro-pc-wrapper #macro-pc14 {
                                                                                  background-image: url(../images/Macrotemas/horizontal/h-video.svg); }
                                                                                  .macro-pc-wrapper #macro-pc15 {
                                                                                    background-image: url(../images/Macrotemas/horizontal/h-gastronomia.svg); }
                                                                                    .macro-pc-wrapper #macro-pc16 {
                                                                                      background-image: url(../images/Macrotemas/horizontal/h-hobbies.svg); }

                                                                                      .macro-indv-mobile {
                                                                                        margin: -5px 0;
                                                                                      }

                                                                                      .macro-indv-pc a:hover p {
                                                                                       display: none;
                                                                                     }

                                                                                     .macro-indv-pc a:hover .macroicon {
                                                                                       display: block;
                                                                                     }

                                                                                     .macro-indv-mobile a:hover p {
                                                                                       display: none;
                                                                                     }

                                                                                     .macro-indv-mobile a:hover .macroicon {
                                                                                       display: block;
                                                                                     }

                                                                                     .macro-pc {
                                                                                       display: block;
                                                                                     }

                                                                                     .macro-mobile {
                                                                                       display: none;
                                                                                     }


                                                                                     @media(max-width: 991px){
                                                                                       .macro-pc {
                                                                                        display: none;
                                                                                      }

                                                                                      .macro-mobile {
                                                                                        display: block;
                                                                                      }
                                                                                    }

/* END HEXS MACROTEMAS */

@media(max-width: 768px){
  #teacher-questions img {
      max-width: 200px;
      margin: 50px auto 0;
      display: table;
  }
}

.box .box-body{
  margin-bottom: 20px;
}

.new-coupon{
  margin: 20px 0 30px;
}